"*":  
  welcome:
    showOnStartup: false
  core:
    projectHome: "/Users/karelvuong/Workspaces"
  editor:
    invisibles:
      {}
    fontFamily: "Monaco"
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    softWrap: true
    fontSize: 10
    showInvisibles: true
